# Use your own Bitly API key if you want to shorten links
BITLY_API=yourBitlyAPIkey

SECRET_KEY='your-secret-key'

DEBUG=1

ALLOWED_HOSTS='127.0.0.1 localhost'

# for deploy with https:
CSRF_TRUSTED_ORIGINS='https://yourdomain.com https://www.yourdomain.com'