{% extends 'base.html' %}
{% block grids %}
    <form class="form-inline w3-center" method="post"
          action="{% url 'contact' %}">
        <h2>Report missing or unsupported device:</h2>
    <p>Provide as much information about the device as possible</p>
        <br>
        {% for field in form %}
            <p>
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li style="list-style: none">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ field.label_tag }} <br> {{ field }}
            </p>
        {% endfor %}
        {% csrf_token %}
    <br>
        <button class="w3-button w3-blue w3-padding-large w3-large w3-margin-top w3-center" type="submit">Send
        </button>
    </form>
{% endblock %}