{% extends 'base.html' %}
{% block grids %}
    <form class="w3-center" method="post"
          action="{% url 'contact' %}">
        <h2>Report missing or unsupported device:</h2>
        <p>Mediatek devices are not supported</p>
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label_tag }}&nbsp;&nbsp; {{ field }}</p>
        {% endfor %}
        <button class="w3-button w3-blue w3-padding-large w3-large w3-margin-top w3-center" type="submit">Send
        </button>
    </form>
{% endblock %}