{% extends 'base.html' %}


{% block grids %}

    <div class="w3-twothird">
        <h1>Choose your device</h1>
        <h5 class="w3-padding-32">In this dropdown menu you will find all available/supported devices that have
            xiaomi.eu rom. After you choose a device, you will receive info about the code name, rom name and rom
            options that you will have for download.</h5>

        <form id="device" class="row row-cols-lg-auto g-3 align-items-center" action="{% url 'index' %}" method="post">
            <div class="col-12">
                <label class="visually-hidden" for="rom">Preference</label>
                <select class="form-select" id="rom" name="rom" required>
                    <option selected value="0">Choose...</option>
                    {% for rom_version in rom_versions_names %}
                        <option value="{{ rom_version }}">{{ rom_version }}</option>
                    {% endfor %}
                </select>
                </select>
            </div>
            <div class="col-12">
                <input name="get-device-info" type="submit" class="btn btn-primary w3-{{ color.first_grid_icon }}"
                       value="Submit">
            </div>
            {% csrf_token %}
        </form>
        <br>
        <br>
        <div class="alert alert-success alert-dismissible fade show">
            {% if not request.user.is_authenticated %}
                Registered users will be able to report missing or unsupported devices.
            {% else %}
                <a href="{% url 'contact' %}" class="w3-text-grey w3-hover-text-black w3-margin-top">Missing or
                    unsupported
                    device?</a>
            {% endif %}
        </div>
    </div>

    <div class="w3-third w3-center">

        <i class="fa fa-size fa-mobile w3-padding-64 w3-text-{{ color.first_grid_icon }}"></i>
    </div>

{% endblock %}