{% extends "base.html" %}
{% block grids %}
    <div class="w3-twothird">
    <form method="post" action="{% url 'link_add' user_id=request.user.id %}">
        <h2>Save link</h2>
        <br>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top" type="submit">Add link to My Links</button>
</form>
</div>
    <div class="w3-third w3-center">

            <i class="fa fa-size fa-link w3-padding-64 w3-text-{{ color.first_grid_icon }}"></i>
        </div>
{% endblock %}
