{% extends 'base.html' %}
{% block grids %}
   <div class="w3-container">
  <h2 class="w3-center">Saved links</h2>
   <br>
    {% if links %}
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Name</th>
        <th>Description</th>
        <th>Created on</th>
        <th>Last edit</th>
      </tr>
    </thead>
      {% for link in links %}
    <tr onclick="window.location.href='{% url 'link_details' user_id=request.user.id slug=link.slug %}';">
      <td>{{ link.link_name }}</td>
      <td>{% if link.link_description %}{{ link.link_description|truncatechars:30 }}{% endif %}</td>
      <td>{{ link.created_at }}</td>
      <td>{{ link.updated_at }}</td>
    </tr>
      {% endfor %}
  </table>
    {% else %}
    <h3 class="w3-center w3-red">No saved links</h3>
    {% endif %}
</div>
{% endblock %}