{% extends 'base.html' %}
{% block grids %}
{% for message in messages %}
    <div class="alert alert-info">{{message}}</div>
{% endfor %}
    <form class="form-inline w3-center" method="post" action="{% url 'login' %}">
        <h2>Login</h2>
        <br>
        {% for field in form %}
            <p>
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li style="list-style: none">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ field.label_tag }} <br> {{ field }}
            </p>
        {% endfor %}

        {% csrf_token %}

        {# get the last page in order to redirect ot it after successful login #}
        <input type="hidden" value="{{ next }}" name="next">

        <button type="submit" class="w3-button w3-green w3-padding-large w3-medium w3-margin-top w3-center">Login
        </button>
    </form>

{% endblock %}