{% extends "base.html" %}
{% block grids %}
    <!-- First Grid -->
    <h1 class="w3-center">Profile details:</h1>
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-center">
                <table class="w3-table-all w3-card-4 w3-rest">
                    <tr>
                        <td><h2>Username:</h2></td>
                        <td><h1 class="w3-center">{{ user.username }}</h1></td>
                        <td>
                            <button class="w3-btn w3-red" type="submit"
                                    onclick="window.location.href='{% url 'profile_delete' pk=request.user.id %}';">
                                Delete
                                Profile
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><h2>Device:</h2></td>
                        <td><h1 class="w3-center"> {{ user.preferred_device }}</h1></td>
                        <td>
                            <button class="w3-btn w3-orange" type="submit"
                                    onclick="window.location.href='{% url 'profile_edit' pk=request.user.id %}';">Edit
                                Device
                            </button>
                        </td>
                    </tr>
                </table>
            {% if request.user.is_staff %}
                {% if title %}
                <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top w3-center"
                        onclick="document.location.href='{% url 'update_telegram_channel' %}'">Send {{ title }} to Telegram
                </button>
                {% else %}
                    <br>
                    <h2>No new threads in xiaomi.eu at this time</h2>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>



{% endblock %}