{% extends 'base.html' %}
{% block grids %}

    <form class="form-inline w3-center" method="post" action="{% url 'register' %}">

        {% csrf_token %}
        <h2>Register</h2>
        <br>
        {% for field in form %}
            <p>
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}
                            <li style="list-style: none">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ field.label_tag }} <br> {{ field }}
            </p>
        {% endfor %}
        <button class="w3-button w3-blue w3-padding-large w3-large w3-margin-top w3-center" type="submit">Register
        </button>
    </form>

{% endblock %}